.body {
    box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Roboto, sans-serif;
font-size: 15px;
background-image: url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
}

.header {
    width: 98%;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15 px 0px 0px;
}

li a {
    color: white;
    text-decoration: none;
}

nav {
float: right;
padding-left: 40%;
}

#logo {
    width: 200px;
    height: 200px;
    float: left;
    cursor: pointer;
}

.navLinks li a {
list-style: none;
float: right;
text-decoration: none;
}

.navLinks li {
    display: inline-block;
    
    color: white;
    justify-content: flex-end;
    
}

#navButton {
  cursor: pointer;
  float: right;
  background-color: transparent;
  border: solid;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#openKast2 {
    background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.mainBody {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    text-align: center;
    
}



.title {
    color: white;
    font-size: 20px;
    
}

#para {
    margin-left: 10%;
    margin-right: 10%;
}

.whiteSection {
    background-color: white;
    text-align: center;
}

.grid {
    margin-right: 20px;
    margin-left: 20px;
    column-gap: 30px;
    row-gap: 40px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
}

em {
    color: grey;
}

.whiteSection {
    padding: 75px 75px;
}

.wContainer {
    margin-left: auto;
    margin-right: auto;
}

.grid {
    
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
margin-left: 31%;
}